/* remove any browser inserted padding and margin
automatically select all elements and all after and before pseudo elements and apply the same behavior to pseudo elements
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* better practice. Force inheritance. By itself box-sizing is not inherited.
  Tells each block element on the page to inherit body border-box properties.
  This technique makes it easy to change box-sizing for plugins, etc */
  box-sizing: inherit; }

html {
  /* set root font size */
  /* em is much more difficult. It takes parent's element size to calculate sizes */
  /* if I hardcode 10px, this becomes root size, and the users will not be able to override it.
  The proper way is to use %. We know that the default browser font size is 16px. 
  We want it 10px. 10 / 16 = 62.5%. This allows user to zoom in on the page  */
  font-size: 62.5%; }

body {
  /* better practice to put this property on the body */
  /* change the box model, so borders and paddings are not added to the total width or height*/
  box-sizing: border-box; }

@keyframes moveInLeft {
  /* when animation starts */
  0% {
    opacity: 0;
    /* move it to the 100rem to the left from current position */
    transform: translateX(-10rem); }
  /* before completing animation, shift it 10% to the right, then shift it to normal (0) when at 100%*/
  80% {
    transform: translateX(1rem); }
  /* when animation finishes */
  100% {
    opacity: 1;
    /* at the end show it the way it looks without animation*/
    transform: translateX(0); } }

@keyframes moveInRight {
  /* when animation starts */
  0% {
    opacity: 0;
    /* move it to the 10rem to the left from current position */
    transform: translateX(10rem); }
  /* before completing animation, shift it 10% to the right, then shift it to normal (0) when at 100%*/
  80% {
    transform: translateX(-1rem); }
  /* when animation finishes */
  100% {
    opacity: 1;
    /* at the end show it the way it looks without animation*/
    transform: translateX(0); } }

@keyframes moveInBottom {
  /* when animation starts */
  0% {
    opacity: 0;
    /* move it to the 10rem to the left from current position */
    transform: translateY(10rem); }
  /* before completing animation, shift it 10% to the right, then shift it to normal (0) when at 100%*/
  80% {
    transform: translateY(-1rem); }
  /* when animation finishes */
  100% {
    opacity: 1;
    /* at the end show it the way it looks without animation*/
    transform: translateY(0); } }

body {
  /* properties related to font are inherited (except input elements).
       By setting fonts at the body level we pass them thru inheritance to children

    */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* 1.7 times bigger than default */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* at the end of the animation this element slightly moves. To prevent this, use below rule */
  /* during animation, if we rotate an element, at some point the back part will be shown. To prevent it,
  use this rule. This is the primary use for this rule. In this specific case it just helps with extra shake */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    /* by default span is inline element 
         inline elements occupy only as much space as they need. Block elements occupy the entire width available and put 
         line breaks at the end
      */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* animation properties */
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* wait 3 seconds before doing animation */
    /* animation-delay: 3s; */
    /* repeat animation 3 times */
    /* animation-iteration-count: 3; */
    /* speed at which animation takes place: 
       ease-in: start slow, and speed up at the end
       ease-out: start fast, finish slow.
    */
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveInRight;
    animation-duration: 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-terciary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn {
  /* button is a link, so it has link's pseudo selectors */
  /* after pseudo element is treated as a child of the button */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    /* need to be a block if we want to give inline element padding, height, width */
    display: inline-block;
    /* to center inline-block elements (they are treated as text) add text-align to the parent element*/
    /* make button with rounded edges */
    border-radius: 10rem;
    /* use transition to animate. Use all properties for animation */
    /* transition property must be on the initial state, not on pseudo classes where it is visible */
    transition: all 0.2s;
    /* set position relative to hide the btn::after element */
    position: relative;
    /* move botton from bottom */
    animation: moveInBottom 1s ease-out; }
  .btn:hover {
    /* to move the button up (negative value) */
    transform: translateY(-0.3rem);
    /* first arg is X, the second is Y, the third is blur value, fourth - color of the shadow and its opacity */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      /* when we hover the button, we want to do something with the clone button behind */
      /* after we hover the button increase the size ::after The blown out size is the pseudo element
         that we hid behind the button*/
      /* transform: scale(1.5); */
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    /* when we click an element, it becomes active.
       Move the element up 1px from initial position before any actions (0)
  */
    transform: translateY(-0.1rem);
    /* when we click on the button we want the shadow to look smaller and less blured*/
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777;
    /* make the copied pseudo element white */ }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    /* create a copy of the button and put it behind the button.
    When we hover out of the button, ... */
    /* in order for after pseudo element to appear on the page, we must have content property. */
    content: "";
    display: inline-block;
    /* 100% of the height and width of the button.  */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* put the pseudo button right behind the main button, so it won't stick out. The parent should the .btn:link */
    position: absolute;
    top: 0;
    left: 0;
    /* really hide the button behind by setting z-index. Without it will appear in the front */
    z-index: -1;
    /* animate the button blow out. set time. Animation is always set on the original element,
  which is ::after for the second button */
    transition: all 0.4s; }
  .btn--animated {
    /* .75s - delay */
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* @keyframe %0 styles will be applied to the animation before it starts */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  /* to move the button up (negative value) */
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transform: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateX(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  /* 95% of the view port height */
  height: 95vh;
  /* technically, 2 images. radient at the top, hero at the bottom 
  start gradient on the left top side and go to the right bottom
  */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* fit the element inside of the box whatever the view port is */
  background-size: cover;
  /* if shrinking the image from bottom or the browser, the top portion stays in view if top is selected,
  bottom portion stays in view if bottom is selected */
  background-position: top;
  /* specify four corners starting (x, y) top/left, top/right, etc 
  https://bennettfeely.com/clippy/ - resources for different shapes
  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* width will be automatically calculated by the browser if height if specified
      and vice versa */
    height: 3.5rem; }
  .header__text-box {
    /* center the text */
    position: absolute;
    /* start text 50% from the parent element top (header is the element which has position: relative )*/
    top: 40%;
    /* start text 50% from the left from the parent element left*/
    left: 50%;
    /* after positioned as stated above, shift 50% to the top and left. relative to itself.
    this concludes centering 
    transform works relative to the element on which it is declared, not the parent */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  /* if we have enough width, the specified width will be used
    otherwise whatever view port, width is will be used */
  max-width: 114rem;
  background-color: #eee;
  /* center a block element inside another block element */
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 6rem * 3) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
