.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-large {
  margin-bottom: $margin-bottom-large !important;
}
.u-margin-bottom-medium {
  margin-bottom: $margin-bottom-medium !important;
}
.u-margin-bottom-small {
  margin-bottom: $margin-bottom-small !important;
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
